AirtableToForm.json
[
  {
    "valid": true,
    "id": "82ac83c641b8dc09",
    "type": "airtable-config",
    "baseId": "appZl8mveFscG7gup",
    "payloadTypebaseId": "str",
    "tableName": "Table 1",
    "payloadTypetableName": "str",
    "module": "maya-red-airtable",
    "version": "1.0.0"
  },
  {
    "valid": true,
    "id": "fe977265b3218131",
    "type": "ui_tab",
    "name": "Home1",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false,
    "module": "@mayahq/maya-red-dashboard",
    "version": "1.0.8"
  },
  {
    "valid": true,
    "id": "917bd32a9d98372b",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#4A304B",
        "baseColor": "#4A304B",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#4A304B",
          "value": "#4A304B",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#fff",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#F7F6F3",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "group-textColor": {
          "value": "#784e7a",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#4a304b",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    },
    "module": "@mayahq/maya-red-dashboard",
    "version": "1.0.8"
  },
  {
    "valid": true,
    "id": "4133e710a2d44000",
    "type": "ui_group",
    "name": "Default",
    "tab": "fe977265b3218131",
    "order": 1,
    "disp": true,
    "width": "20",
    "collapse": false,
    "className": "",
    "module": "@mayahq/maya-red-dashboard",
    "version": "1.0.8"
  },
  {
    "valid": true,
    "id": "b59b603c225770a3",
    "type": "ui_group",
    "name": "Default1",
    "tab": "fe977265b3218131",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": "",
    "module": "@mayahq/maya-red-dashboard",
    "version": "1.0.8"
  },
  {
    "valid": true,
    "id": "66413f0beb85387f",
    "type": "get-record",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "isProfileConfigNode": false,
    "AirtableConfig": "82ac83c641b8dc09",
    "fields": "",
    "payloadTypefields": "str",
    "filterByFormula": "payload",
    "payloadTypefilterByFormula": "msg",
    "maxRecords": "100",
    "payloadTypemaxRecords": "num",
    "sort": "{}",
    "payloadTypesort": "json",
    "recordId": "",
    "payloadTyperecordId": "msg",
    "action": "getAllRecords",
    "x": 480,
    "y": 270,
    "wires": [
      [
        "e7ff632987bc6078"
      ]
    ],
    "color": "#9F4E2A",
    "darkColor": "#884324",
    "module": "maya-red-airtable",
    "version": "1.0.0"
  },
  {
    "valid": true,
    "id": "b1a8e78dcbbdf386",
    "type": "inject",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 495,
    "y": 105,
    "wires": [
      [
        "abaf0ab04a0facfd"
      ]
    ],
    "color": "#619259",
    "darkColor": "#4F7C48",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "8a8dc51418ac3de6",
    "type": "debug",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 555,
    "wires": [],
    "color": "#9F4E2A",
    "darkColor": "#884324",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "563756866fd1d29b",
    "type": "ui_table",
    "z": "MQolYJRYhIf2EEGL",
    "group": "4133e710a2d44000",
    "name": "Table",
    "order": 0,
    "width": "9",
    "height": "6",
    "columns": [],
    "outputs": 1,
    "cts": true,
    "x": 480,
    "y": 450,
    "wires": [
      [
        "20313044606d8a4e",
        "c51033e2c5bb2f1e"
      ]
    ],
    "color": "#674C80",
    "darkColor": "#553C6B",
    "module": "@mayahq/maya-red-node-ui-table",
    "version": "0.3.13"
  },
  {
    "valid": true,
    "id": "b44e214edb5d9f30",
    "type": "ui_button",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "group": "4133e710a2d44000",
    "order": 1,
    "width": "5",
    "height": "1",
    "passthru": false,
    "label": "Fetch",
    "tooltip": "",
    "color": "#adadad",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "5",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 315,
    "y": 195,
    "wires": [
      [
        "66413f0beb85387f"
      ]
    ],
    "module": "@mayahq/maya-red-dashboard",
    "version": "1.0.8"
  },
  {
    "valid": true,
    "id": "e7ff632987bc6078",
    "type": "change",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "records",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 360,
    "wires": [
      [
        "563756866fd1d29b",
        "8a8dc51418ac3de6"
      ]
    ],
    "color": "#674C80",
    "darkColor": "#553C6B",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "abaf0ab04a0facfd",
    "type": "ui_text_input",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "label": "Query",
    "tooltip": "",
    "group": "4133e710a2d44000",
    "order": 2,
    "width": "8",
    "height": "1",
    "passthru": false,
    "mode": "text",
    "delay": "0",
    "topic": "payload",
    "sendOnBlur": false,
    "className": "",
    "topicType": "msg",
    "x": 540,
    "y": 180,
    "wires": [
      [
        "66413f0beb85387f"
      ]
    ],
    "color": "#619259",
    "darkColor": "#4F7C48",
    "module": "@mayahq/maya-red-dashboard",
    "version": "1.0.8"
  },
  {
    "valid": true,
    "id": "20313044606d8a4e",
    "type": "ui_form",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "label": "",
    "group": "4133e710a2d44000",
    "order": 3,
    "width": "10",
    "height": "19",
    "options": [
      {
        "label": "First Name",
        "value": "Name",
        "type": "text",
        "required": false,
        "rows": null
      },
      {
        "label": "Remarks",
        "value": "Remark",
        "type": "text",
        "required": false,
        "rows": null
      },
      {
        "label": "Mobile",
        "value": "Mobile",
        "type": "text",
        "required": false,
        "rows": null
      }
    ],
    "formValue": {
      "Name": "",
      "Remark": "",
      "Mobile": ""
    },
    "payload": "",
    "submit": "submit",
    "cancel": "cancel",
    "topic": "topic",
    "topicType": "msg",
    "splitLayout": "",
    "className": "",
    "x": 885,
    "y": 405,
    "wires": [
      []
    ],
    "color": "#AE9554",
    "darkColor": "#9E8647",
    "module": "@mayahq/maya-red-dashboard",
    "version": "1.0.8"
  },
  {
    "valid": true,
    "id": "c51033e2c5bb2f1e",
    "type": "debug",
    "z": "MQolYJRYhIf2EEGL",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 825,
    "y": 555,
    "wires": [],
    "color": "#9F4E2A",
    "darkColor": "#884324",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "id": "MQolYJRYhIf2EEGL",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "in": [],
    "out": [],
    "changed": false,
    "module": null,
    "version": null
  }
]
