githubtrending.json
[
  {
    "id": "45bf4e6f6196249a",
    "type": "subflow",
    "name": "Fetch Trending Repos",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 140,
        "y": 60,
        "wires": [
          {
            "id": "b344b88461648006"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 580,
        "y": 140,
        "wires": [
          {
            "id": "28dcc6d9e78df59d",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "language",
        "type": "str",
        "value": ""
      },
      {
        "name": "since",
        "type": "str",
        "value": "daily"
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "module": null,
    "version": null
  },
  {
    "id": "28dcc6d9e78df59d",
    "type": "http request",
    "z": "45bf4e6f6196249a",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 430,
    "y": 180,
    "wires": [
      []
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "b344b88461648006",
    "type": "function",
    "z": "45bf4e6f6196249a",
    "name": "",
    "func": "var lang = env.get('language');\nvar since = env.get('since') || 'daily';\n\nif (lang){\n    msg.url = `https://gh-trending-api.herokuapp.com/repositories/${lang}?since=${since}`\n} else {\n    msg.url = `https://gh-trending-api.herokuapp.com/repositories?since=${since}`\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 140,
    "wires": [
      [
        "28dcc6d9e78df59d",
        "3bcc25f4afa970b3"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "3bcc25f4afa970b3",
    "type": "debug",
    "z": "45bf4e6f6196249a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "url",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 100,
    "wires": [],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "9d418f7e418f8895",
    "type": "tab",
    "label": "Sample Usage",
    "disabled": false,
    "info": "",
    "module": null,
    "version": null
  },
  {
    "id": "a4d47ce0aea7f6c0",
    "type": "inject",
    "z": "9d418f7e418f8895",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 100,
    "wires": [
      [
        "ca2122af13225629"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "e31d7dd3ccf2e8ec",
    "type": "debug",
    "z": "9d418f7e418f8895",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 120,
    "wires": [],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "ca2122af13225629",
    "type": "subflow:45bf4e6f6196249a",
    "z": "9d418f7e418f8895",
    "name": "",
    "env": [
      {
        "name": "language",
        "value": "java",
        "type": "str"
      }
    ],
    "x": 460,
    "y": 100,
    "wires": [
      [
        "e31d7dd3ccf2e8ec"
      ]
    ],
    "module": null,
    "version": null
  },
  {
    "id": "ddc758020848677e",
    "type": "bot-info",
    "z": "9d418f7e418f8895",
    "name": "Info Details",
    "title": "Github Trending Repositories Scraper",
    "description": "This Maya collection provides the following: \n\n1. Commands to search through and open daily/weekly/monthly trending repositories\n2. A reusable \"Fetch Github Trending Repositories\" subflow that you can configure to fetch repositories\n3. A sample repeatable workflow that fetches Github Trending Repositories daily and shows up as a Task on the dashboard\n\nThis uses the API provided by and is dependent on it: https://github.com/NiklasTiede/Github-Trending-API\n\nContact the developer of this automation for any fixes.",
    "created": "February 22, 2022",
    "timestamp": 1645471739788,
    "compatibility": [
      {
        "label": "MacOS",
        "value": "macos"
      },
      {
        "label": "Windows",
        "value": "windows"
      },
      {
        "label": "Linux",
        "value": "linux"
      }
    ],
    "developer": "sibesh@mayahq.com",
    "previewMedia": "https://www.loom.com/share/82e30578d576489485122fbf06ad3e36",
    "version": "1.0.1",
    "x": 200,
    "y": 220,
    "wires": [],
    "module": "maya-red-bot-utils"
  }
]
