githubtrending.json
[
  {
    "id": "d462bb3c4261b6fa",
    "type": "tab",
    "label": "Commands",
    "disabled": false,
    "info": "",
    "module": null,
    "version": null
  },
  {
    "id": "54373085875a7fb0",
    "type": "tab",
    "label": "Repeating",
    "disabled": false,
    "info": "",
    "module": null,
    "version": null
  },
  {
    "id": "9d418f7e418f8895",
    "type": "tab",
    "label": "Sample Usage",
    "disabled": false,
    "info": "",
    "module": null,
    "version": null
  },
  {
    "id": "45bf4e6f6196249a",
    "type": "subflow",
    "name": "Fetch Trending Repos",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 140,
        "y": 60,
        "wires": [
          {
            "id": "b344b88461648006"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 580,
        "y": 140,
        "wires": [
          {
            "id": "28dcc6d9e78df59d",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "language",
        "type": "str",
        "value": ""
      },
      {
        "name": "since",
        "type": "str",
        "value": "daily"
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "module": null,
    "version": null
  },
  {
    "id": "28dcc6d9e78df59d",
    "type": "http request",
    "z": "45bf4e6f6196249a",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 430,
    "y": 180,
    "wires": [
      []
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "b344b88461648006",
    "type": "function",
    "z": "45bf4e6f6196249a",
    "name": "",
    "func": "var lang = env.get('language');\nvar since = env.get('since') || 'daily';\n\nif (lang){\n    msg.url = `https://gh-trending-api.herokuapp.com/repositories/${lang}?since=${since}`\n} else {\n    msg.url = `https://gh-trending-api.herokuapp.com/repositories?since=${since}`\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 140,
    "wires": [
      [
        "28dcc6d9e78df59d",
        "3bcc25f4afa970b3"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "3bcc25f4afa970b3",
    "type": "debug",
    "z": "45bf4e6f6196249a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "url",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 100,
    "wires": [],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "d2e1eedb36ef1c2b",
    "type": "bot-command",
    "z": "d462bb3c4261b6fa",
    "name": "",
    "order": 0,
    "options": [
      {
        "value": "Search for",
        "type": "prompt",
        "required": true
      },
      {
        "value": "query",
        "type": "custom",
        "required": false,
        "endpoint": "/search-d43456c30bbde1ef",
        "customNode": "d43456c30bbde1ef"
      },
      {
        "value": "in daily trending repositories",
        "type": "prompt",
        "required": false
      }
    ],
    "formValue": {
      "Search for": "",
      "query": "",
      "in daily trending repositories": ""
    },
    "payload": "",
    "endpointUrl": "/command-d2e1eedb36ef1c2b",
    "icon": "https://github.com/favicon.ico",
    "x": 260,
    "y": 360,
    "wires": [
      [
        "b811f5b6eed362ad",
        "0d78482003a9d07a"
      ]
    ],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "b811f5b6eed362ad",
    "type": "bot-response",
    "z": "d462bb3c4261b6fa",
    "name": "bot-response",
    "status": "success",
    "statusMsg": "Success!",
    "statusMsgType": "str",
    "x": 770,
    "y": 400,
    "wires": [],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "d43456c30bbde1ef",
    "type": "custom-search",
    "z": "d462bb3c4261b6fa",
    "name": "Github Trending Repo Search",
    "payload": "",
    "endpointUrl": "/search-d43456c30bbde1ef",
    "x": 180,
    "y": 240,
    "wires": [
      [
        "e8a2086cf02e814d"
      ]
    ],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "e8a2086cf02e814d",
    "type": "subflow:45bf4e6f6196249a",
    "z": "d462bb3c4261b6fa",
    "name": "Fetch Daily",
    "env": [
      {
        "name": "language",
        "value": "java",
        "type": "str"
      }
    ],
    "x": 450,
    "y": 200,
    "wires": [
      [
        "6b8dfa8ea38be17c"
      ]
    ],
    "module": null,
    "version": null
  },
  {
    "id": "66449d8ed415a870",
    "type": "custom-search-response",
    "z": "d462bb3c4261b6fa",
    "name": "custom-search-response",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 280,
    "wires": [],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "6b8dfa8ea38be17c",
    "type": "function",
    "z": "d462bb3c4261b6fa",
    "name": "",
    "func": "var results = []\n\nfunction truncateString(str, num) {\n  if (str.length > num) {\n    return str.slice(0, num) + \"...\";\n  } else {\n    return str;\n  }\n}\n\nmsg.payload.forEach(item=>{\n   results.push({\"value\": item.repositoryName,\"meta\":{\"subtext\":truncateString(item.description, 40) + \" | up \" + item.starsSince + \" stars | total stars:\" + item.totalStars + \" |\", url : item.url}}) \n})\n\n\nmsg.payload = results\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 220,
    "wires": [
      [
        "66449d8ed415a870"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "0d78482003a9d07a",
    "type": "desktop-system-open",
    "z": "d462bb3c4261b6fa",
    "name": "",
    "isProfileConfigNode": false,
    "target": "payload.query.meta.url",
    "payloadTypetarget": "msg",
    "x": 570,
    "y": 440,
    "wires": [
      []
    ],
    "module": "maya-red-system-utils",
    "version": "1.2.1"
  },
  {
    "id": "426dcf76b8bc1883",
    "type": "bot-command",
    "z": "d462bb3c4261b6fa",
    "name": "",
    "order": 0,
    "options": [
      {
        "value": "Search for",
        "type": "prompt",
        "required": true
      },
      {
        "value": "query",
        "type": "custom",
        "required": false,
        "endpoint": "/search-d43456c30bbde1ef",
        "customNode": "d43456c30bbde1ef"
      },
      {
        "value": "in daily trending repositories",
        "type": "prompt",
        "required": false
      }
    ],
    "formValue": {
      "Search for": "",
      "query": "",
      "in daily trending repositories": ""
    },
    "payload": "",
    "endpointUrl": "/command-d2e1eedb36ef1c2b",
    "icon": "https://github.com/favicon.ico",
    "x": 280,
    "y": 580,
    "wires": [
      [
        "106f7e931db082ae",
        "15f2b507ef2e831d"
      ]
    ],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "106f7e931db082ae",
    "type": "bot-response",
    "z": "d462bb3c4261b6fa",
    "name": "bot-response",
    "status": "success",
    "statusMsg": "Success!",
    "statusMsgType": "str",
    "x": 790,
    "y": 620,
    "wires": [],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "15f2b507ef2e831d",
    "type": "desktop-system-open",
    "z": "d462bb3c4261b6fa",
    "name": "",
    "isProfileConfigNode": false,
    "target": "payload.query.meta.url",
    "payloadTypetarget": "msg",
    "x": 590,
    "y": 660,
    "wires": [
      []
    ],
    "module": "maya-red-system-utils",
    "version": "1.2.1"
  },
  {
    "id": "a4d47ce0aea7f6c0",
    "type": "inject",
    "z": "9d418f7e418f8895",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 100,
    "wires": [
      [
        "ca2122af13225629"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "e31d7dd3ccf2e8ec",
    "type": "debug",
    "z": "9d418f7e418f8895",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 120,
    "wires": [],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "ca2122af13225629",
    "type": "subflow:45bf4e6f6196249a",
    "z": "9d418f7e418f8895",
    "name": "",
    "env": [
      {
        "name": "language",
        "value": "java",
        "type": "str"
      }
    ],
    "x": 460,
    "y": 100,
    "wires": [
      [
        "e31d7dd3ccf2e8ec"
      ]
    ],
    "module": null,
    "version": null
  },
  {
    "id": "b8a0763262e04f14",
    "type": "bot-scheduler",
    "z": "54373085875a7fb0",
    "name": "",
    "outputField": "payload",
    "endpointUrl": "/scheduler-b8a0763262e04f14",
    "timeZone": "",
    "wasDeployed": true,
    "commandResponseMsgOutput": "output1",
    "outputs": 1,
    "changedAt": "2022-02-21T19:28:28.658Z",
    "options": [
      {
        "name": "1-b8a0763262e04f14",
        "topic": "Fetch Daily Repos",
        "payloadType": "default",
        "payload": "",
        "expressionType": "cron",
        "expression": "0 * * * * * *",
        "location": "",
        "offset": "0",
        "solarType": "all",
        "solarEvents": "sunrise,sunset",
        "autostart": false,
        "isStatic": true
      }
    ],
    "x": 190,
    "y": 160,
    "wires": [
      [
        "5b2d6d1484e8713a"
      ]
    ],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "5b2d6d1484e8713a",
    "type": "subflow:45bf4e6f6196249a",
    "z": "54373085875a7fb0",
    "name": "",
    "x": 440,
    "y": 160,
    "wires": [
      [
        "df19010a87ac6121"
      ]
    ],
    "module": null,
    "version": null
  },
  {
    "id": "df19010a87ac6121",
    "type": "debug",
    "z": "54373085875a7fb0",
    "name": "--> To Storage",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 160,
    "wires": [],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "ddc758020848677e",
    "type": "bot-info",
    "z": "9d418f7e418f8895",
    "name": "Info Details",
    "title": "Github Trending Repositories Scraper",
    "description": "This Maya collection provides the following: \n\n1. Commands to search through and open daily/weekly/monthly trending repositories\n2. A reusable \"Fetch Github Trending Repositories\" subflow that you can configure to fetch repositories\n3. A sample repeatable workflow that fetches Github Trending Repositories daily and shows up as a Task on the dashboard\n\nThis uses the API provided by and is dependent on it: https://github.com/NiklasTiede/Github-Trending-API\n\nContact the developer of this automation for any fixes.",
    "created": "February 22, 2022",
    "timestamp": 1645471739788,
    "compatibility": [
      {
        "label": "MacOS",
        "value": "macos"
      },
      {
        "label": "Windows",
        "value": "windows"
      },
      {
        "label": "Linux",
        "value": "linux"
      }
    ],
    "developer": "sibesh@mayahq.com",
    "previewMedia": "",
    "version": "1.0.1",
    "x": 200,
    "y": 220,
    "wires": [],
    "module": "maya-red-bot-utils"
  }
]
