youtubeplaylist.json
[
  {
    "id": "60ce3703a47613e5",
    "type": "tab",
    "label": "Youtube Playlist Save",
    "disabled": false,
    "info": "",
    "module": null,
    "version": null
  },
  {
    "id": "7e95e2456c40db40",
    "type": "maya-browser-find-tab",
    "z": "60ce3703a47613e5",
    "name": "",
    "isProfileConfigNode": false,
    "query": "json",
    "payloadTypequery": "msg",
    "x": 340,
    "y": 260,
    "wires": [
      [
        "6a709298855ee735"
      ]
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "6a709298855ee735",
    "type": "switch",
    "z": "60ce3703a47613e5",
    "name": "",
    "property": "tabs.length",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 310,
    "y": 160,
    "wires": [
      [
        "f3224570ee9f0ce7"
      ],
      [
        "65dde95b20e0f855"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "f3224570ee9f0ce7",
    "type": "maya-browser-open",
    "z": "60ce3703a47613e5",
    "name": "",
    "isProfileConfigNode": false,
    "url": "url",
    "payloadTypeurl": "msg",
    "additionalOptions": "{}",
    "payloadTypeadditionalOptions": "json",
    "x": 410,
    "y": 100,
    "wires": [
      []
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "f84641ce21404ed6",
    "type": "inject",
    "z": "60ce3703a47613e5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 60,
    "wires": [
      [
        "34abda6274bc8980"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "65dde95b20e0f855",
    "type": "maya-browser-click",
    "z": "60ce3703a47613e5",
    "name": "Click On Save Button",
    "isProfileConfigNode": false,
    "delay": "100",
    "payloadTypedelay": "num",
    "clickType": "click",
    "highlightDuration": "1000",
    "payloadTypehighlightDuration": "num",
    "selector": "//*[@aria-label='Save to playlist']/*",
    "payloadTypeselector": "str",
    "timeout": "2000",
    "payloadTypetimeout": "num",
    "tabId": "tabs[0].id",
    "payloadTypetabId": "msg",
    "index": "0",
    "payloadTypeindex": "num",
    "x": 600,
    "y": 220,
    "wires": [
      [
        "c8278be91bc97756"
      ]
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "26f3de72a8eb8e4b",
    "type": "maya-browser-click",
    "z": "60ce3703a47613e5",
    "name": "Select Favorites Playlist",
    "isProfileConfigNode": false,
    "delay": "100",
    "payloadTypedelay": "num",
    "clickType": "click",
    "highlightDuration": "1000",
    "payloadTypehighlightDuration": "num",
    "selector": "playlist",
    "payloadTypeselector": "flow",
    "timeout": "2000",
    "payloadTypetimeout": "num",
    "tabId": "tabs[0].id",
    "payloadTypetabId": "msg",
    "index": "0",
    "payloadTypeindex": "num",
    "x": 770,
    "y": 60,
    "wires": [
      []
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "c8278be91bc97756",
    "type": "delay",
    "z": "60ce3703a47613e5",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "x": 600,
    "y": 120,
    "wires": [
      [
        "26f3de72a8eb8e4b"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "44995119c321c48b",
    "type": "bot-info",
    "z": "60ce3703a47613e5",
    "name": "",
    "title": "Youtube Save to Playlist",
    "description": "This workflow let's you configure automate the process of adding a youtube video to a playlist. you'll need to configure the youtube video URL + checkbox xpath of the playlist you're interested in. Current default is Favorites playlist. ",
    "created": "April 1, 2022",
    "timestamp": 1648786967289,
    "compatibility": [
      {
        "label": "MacOS",
        "value": "macos"
      },
      {
        "label": "Windows",
        "value": "windows"
      },
      {
        "label": "Linux",
        "value": "linux"
      }
    ],
    "developer": "botdoggy42@gmail.com",
    "previewMedia": "",
    "version": "1.0.1",
    "x": 200,
    "y": 320,
    "wires": [],
    "module": "maya-red-bot-utils"
  },
  {
    "id": "69366ebfa57e4541",
    "type": "bot-config",
    "z": "60ce3703a47613e5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "flow",
        "varName": "youtube url",
        "varDesc": "add video url here",
        "reqd": true,
        "exportVar": false,
        "to": "",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "playlist",
        "pt": "flow",
        "varName": "playlist xpath",
        "varDesc": "select the checkbox url of the playlist you need",
        "reqd": true,
        "exportVar": false,
        "to": "",
        "tot": "str"
      }
    ],
    "x": 190,
    "y": 440,
    "wires": [],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "id": "34abda6274bc8980",
    "type": "change",
    "z": "60ce3703a47613e5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "url",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 130,
    "y": 140,
    "wires": [
      [
        "a892beb362a041cb"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "a892beb362a041cb",
    "type": "function",
    "z": "60ce3703a47613e5",
    "name": "",
    "func": "msg.json = {\n    url : msg.url\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 140,
    "y": 220,
    "wires": [
      [
        "7e95e2456c40db40"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  }
]
