youtubeplaylist.json
[
  {
    "id": "60ce3703a47613e5",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "module": null,
    "version": null
  },
  {
    "id": "7e95e2456c40db40",
    "type": "maya-browser-find-tab",
    "z": "60ce3703a47613e5",
    "name": "",
    "isProfileConfigNode": false,
    "query": "{\"url\":\"https://www.youtube.com/watch?v=ROdk1Igapis\"}",
    "payloadTypequery": "json",
    "x": 140,
    "y": 140,
    "wires": [
      [
        "6a709298855ee735"
      ]
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "6a709298855ee735",
    "type": "switch",
    "z": "60ce3703a47613e5",
    "name": "",
    "property": "tabs.length",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 290,
    "y": 160,
    "wires": [
      [
        "f3224570ee9f0ce7"
      ],
      [
        "65dde95b20e0f855"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "f3224570ee9f0ce7",
    "type": "maya-browser-open",
    "z": "60ce3703a47613e5",
    "name": "",
    "isProfileConfigNode": false,
    "url": "https://www.youtube.com/watch?v=ROdk1Igapis",
    "payloadTypeurl": "str",
    "additionalOptions": "{}",
    "payloadTypeadditionalOptions": "json",
    "x": 410,
    "y": 100,
    "wires": [
      []
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "f84641ce21404ed6",
    "type": "inject",
    "z": "60ce3703a47613e5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 60,
    "wires": [
      [
        "7e95e2456c40db40"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  },
  {
    "id": "65dde95b20e0f855",
    "type": "maya-browser-click",
    "z": "60ce3703a47613e5",
    "name": "Click On Save Button",
    "isProfileConfigNode": false,
    "delay": "100",
    "payloadTypedelay": "num",
    "clickType": "click",
    "highlightDuration": "1000",
    "payloadTypehighlightDuration": "num",
    "selector": "//*[@aria-label='Save to playlist']/*",
    "payloadTypeselector": "str",
    "timeout": "2000",
    "payloadTypetimeout": "num",
    "tabId": "tabs[0].id",
    "payloadTypetabId": "msg",
    "index": "0",
    "payloadTypeindex": "num",
    "x": 520,
    "y": 200,
    "wires": [
      [
        "c8278be91bc97756"
      ]
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "26f3de72a8eb8e4b",
    "type": "maya-browser-click",
    "z": "60ce3703a47613e5",
    "name": "Select Favorites Playlist",
    "isProfileConfigNode": false,
    "delay": "100",
    "payloadTypedelay": "num",
    "clickType": "click",
    "highlightDuration": "1000",
    "payloadTypehighlightDuration": "num",
    "selector": "/html/body/ytd-app/ytd-popup-container/tp-yt-paper-dialog/ytd-add-to-playlist-renderer/div[2]/ytd-playlist-add-to-option-renderer[2]/tp-yt-paper-checkbox/div[1]",
    "payloadTypeselector": "str",
    "timeout": "2000",
    "payloadTypetimeout": "num",
    "tabId": "tabs[0].id",
    "payloadTypetabId": "msg",
    "index": "0",
    "payloadTypeindex": "num",
    "x": 790,
    "y": 160,
    "wires": [
      []
    ],
    "module": "maya-red-browser-automation",
    "version": "1.7.1"
  },
  {
    "id": "c8278be91bc97756",
    "type": "delay",
    "z": "60ce3703a47613e5",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "x": 600,
    "y": 120,
    "wires": [
      [
        "26f3de72a8eb8e4b"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6"
  }
]
